<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson10 WebApp Demo - Sys Admin - Students</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
        <h1>System Administration ::: Manage Students</h1>
        <nav>
            <a href="/sysadmin/student/list">Students</a> |
<!--            <a href="#">Courses</a> |-->
<!--            <a href="#">ClassRooms</a>-->
        </nav>
        <hr>
        <h2>List of Students</h2>
        <div><a href="/sysadmin/student/new">Register a New Student</a></div><br>
        <!-- Show data-table here -->
        <div>
            <table>
                <thead>
                    <tr>
                        <style>
                            th {
                                padding: 10px; /* Adjust the value as needed */
                            }
                        </style>
                        <th>#</th>
                        <th>Student Number</th>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>CGPA</th>
                        <th>Enrollment Date</th>
                        <th>ClassRoom</th>
                        <th>Transcript</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student, counter : ${students}">
                        <th th:text="${counter.count}"></th>
                        <th th:text="${student.studentNumber}"></th>
                        <td th:text="${student.firstName}"></td>
                        <td th:text="${student.middleName}"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.cgpa}"></td>
                        <td th:text="${student.dateOfEnrollment}"></td>
<!--                        <td th:if="${student.classroom != null}">-->
<!--                            <span th:text="${student.classroom.buildingName}"></span><br>-->
<!--                        <td th:if="${student.transcript != null}">-->
<!--                            <span th:text="${student.transcript.degreeTitle}"></span><br>-->

<!--                            <span th:text="${publisher.primaryAddress.city}"></span><br>-->
<!--                            <span th:text="${publisher.primaryAddress.state}"></span><br>-->
<!--                            <span th:text="${publisher.primaryAddress.zipCode}"></span>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main><br>
    <hr>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>