<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson10 WebApp Demo - Sys Admin - Students</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
        <h1>System Administration ::: Manage Students</h1>
        <nav>
            <a href="/sysadmin/student/list">Students</a> |
<!--            <a href="#">Books</a> |-->
<!--            <a href="#">Library Members</a>-->
        </nav>
        <hr>
        <h2>New Student Form</h2>
        <!-- Show form here -->
        <div>
            <form method="post" action="/sysadmin/student/new" th:object="${student}">
                <fieldset>
                    <div>
                        <label for="studentNumber">
                            Student Number:
                        </label>
                    </div>
                    <div>
                        <div>
<!--                            <span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}" style="color:#ff0000;"></span>-->
                        </div>
                        <input id="studentNumber" name="studentNumber" type="text" th:value="${student.studentNumber}" required>
                    </div>
                    <div>
                        <label for="firstName">
                            First Name:
                        </label>
                    </div>
                    <div>
                        <div>
<!--                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:#ff0000;"></span>-->
                        </div>
                        <input id="firstName" name="firstName" type="text" th:value="${student.firstName}" required>
                    </div>
                    <div>
                        <label for="middleName">
                            Middle Name:
                        </label>
                    </div>
                    <div>
                        <input id="middleName" name="middleName" type="text" th:value="${student.middleName}">
                    </div>
                    <div>
                        <label for="lastName">
                            Last Name:
                        </label>
                    </div>
                    <div>
                        <input id="lastName" name="lastName" type="text" th:value="${student.lastName}">
                    </div>
                    <div>
                        <label for="cgpa">
                            CGPA:
                        </label>
                    </div>
                    <div>
                        <input id="cgpa" name="cgpa" type="text" th:value="${student.cgpa}">
                    </div>
                    <div>
                        <label for="dateOfEnrollment">
                            Enrollment Date:
                        </label>
                    </div>
                    <div>
                        <div>
<!--                            <span th:if="${#fields.hasErrors('dateOfEnrollment')}" th:errors="*{dateOfEnrollment}" style="color:#ff0000;"></span>-->
                        </div>
                        <input id="dateOfEnrollment" name="dateOfEnrollment" type="text" th:value="${student.dateOfEnrollment}" required>
                    </div>
<!--                    <div>-->
<!--                        <label for="transcript">-->
<!--                            Transcript:-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div>-->
<!--                            &lt;!&ndash;                            <span th:if="${#fields.hasErrors('transcript')}" th:errors="*{transcript}" style="color:#ff0000;"></span>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <input id="transcript" name="transcript" type="text" th:value="${student.transcript}" required>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="classroom">-->
<!--                            ClassRoom:-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <div>-->
<!--&lt;!&ndash;                            <span th:if="${#fields.hasErrors('classRoom')}" th:errors="*{classRoom}" style="color:#ff0000;"></span>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <input id="classroom" name="classroom" type="text" th:value="${student.classroom}" required>-->
<!--                    </div>-->
                    <div>
                        <input type="submit" value="Register Student">
                        <input type="reset" value="Reset">
                    </div>
                </fieldset>
            </form>
        </div>
    </main><br>

    <hr>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>